@import "satoshi.css";

html {
  font-size: 10px;
  --page-gutter: 2rem;
  --section-padding: 2rem;
}

body {
  margin: 0px;
}

* {
  font-family: "Satoshi-Variable";
  font-size: 1.6rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.description {
  width: 50%;
  height: fit-content;
}

h1 {
  margin: 0;
  font-size: 4.8rem;
  line-height: 133%;
}

header {
  margin: var(--page-gutter);
  padding: var(--section-padding);

  border: solid;
  border-color: black;
  border-radius: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

nav {
  height: 100%;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  flex-wrap: wrap;
  flex-grow: 1;
}

li {
  padding: 1.2rem;
}

section {
  margin: var(--page-gutter);
  padding: var(--section-padding);

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

/* section *{
    display: inline-block;
    justify-content: space-between;
} */

header img {
  height: 40px;
  width: auto;
}

section img {
  height: auto;
  width: 30%;
  display: inline;
  padding-right: rem;
}

footer {
  background-color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  color: aliceblue;
}
